language: node_js
node_js:
    - "4"
    - "6"

services:

script:
    - npm run lint
    - npm test

after_success:
    - npm install istanbul codecov
    - chmod ugo+r ./test/data/noread
    - npm run cover
    - ./node_modules/.bin/codecov

sudo: false
